*{
    margin: 0;
    padding: 0;
}
.main-container {
    background-color:rgba(172, 166, 166, 0.5);
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-title{
    font-size: 20px;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content:left;
}
.nav-container {
    display: flex;
    justify-content: right;
    text-align: center;
    list-style: none;
    margin-bottom: 25px;
}
.nav-list {
    margin-right: 15px;
    font-size: 18px;
    margin-top: 22px;
}
.banner-container {
    background-image: url('../asset/image/background.jpg'),linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
    background-blend-mode: color;
    background-size: cover;
    height: 100vh;
    text-align: center;
    
}
.banner-heading{
    font-size: 86px;
    font-weight: 900;
    color: white;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}
.banner-description {
    font-size: 22px;
    color: white;
    margin-bottom: 10px;
    width: 50%;
    margin: auto;
}
.banner-elements {
    
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin-top: -9px;
}
span{
    color: #F52C2C
}
.btn-primary {
    padding: 15px 35px;
    font-size: 16px;
    border: none;
    margin: 5px;
    background-color: rgb(245, 44, 44);
    color: white;
}
.btn-secondary {
    padding: 15px 35px;
    font-size: 16px;
    border: none;
    margin: 5px;
}
.service-btn {
    margin-left: 17px;
    margin-top: 75px;
    background-color: white;
    color: gray;
    border-radius: 25px;
    padding: 15px 35px;
    font-size: 16px;
    border: none;
   
}
.service-container {
    height: 665px;
    background-image: url('../asset/image/footer-bg.png'),linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    color: white;
    display: flex;
    padding-bottom: 95px;
    
}
.service-heading{
    margin-left: 17px;
    font-size: 40px;
    font-weight: bold;
    padding: 7px;
    color: rgb(190, 207, 208)
}
.service-description {
    margin-left: 17px;
    width: 80%;
    font-size: 20px;
    padding: 12px;
    color: rgb(190, 207, 208)
}
.service-list {
    margin-left: 17px;
    margin-bottom: 10px;
    list-style: decimal;
    padding: 2px;
    font-size: 18px;
    color: rgb(190, 207, 208);
}
.author {
    display: flex;
    align-items: center;
    gap: 10px;
}
.author-img {
    margin-left: 8px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    
}
.author-container {
    display: flex;
    align-items: center;
    gap: 85px
}
.author-heading {
    font-size: 17px;
}
small{
    font-size: 14px;
    font-weight: normal;
}
.author-btn {
    padding: 15px 30px;
    margin-left: 11px;
    border-radius: 25px;
    background-color: none;
    border: 1px solid rgb(51, 48, 48);
    color: rgb(245, 44, 44);
}
.box1{
    background-color: white;
    border: 1px solid green;
    margin-right: 20px;
    text-align: center;
    width: 300px;
    height: 300px;
    border-radius: 8px;
    border: none;
    
}
.chart-name {
    color: black;
    
}
.chart-img {
    margin-top: 60px;
    height: 120px;
    width: 120px;
}
.chart-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
    
}
.consult-description{
    color: white;
    width: 60%;
}

.appointment-container{
    margin-top: -80px;
    border-radius: 12px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding: 45px;
    background-color: #F52C2C;
    display: flex;
    align-items: center;
    gap:10px;
}
.consult{
    display: flex;
    align-items: center;
    gap:10px;
    border-right: 1px solid green;
}

.phone{
    width: 80px;
    height: 80px;
}
.consult-heading {
    font-size: 11px;
}
.consult-btn{
    padding: 15px 35px;
    border-radius: 25px;
    border: none;
}
